body {
    background-color:#ECE2E1 ;}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 3px;
}

img:hover {
    height: 400px;
}
div{background-color: #ECE2E1;
;}
h3{color: #54BAB9;}
h1{color: #54BAB9;}

.profile_img{
 border-radius: 100%;
}

.h1{
text-align: center;
margin: top 0;}

